body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.calculator {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-row, 
.second-row, 
.other-rows {
    display: flex;
    justify-content: center;
}


/* Buttons */

.btn {
    height: 75px;
    width: 75px;
    margin: 10px;
    font-size: 50px;
    border: 2px solid rgb(27, 6, 191);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  #clear {
    width: 175px;
  }

  #equals {
    width: 175px;
  }

  .btn:hover {
    background-color: aqua;
  }

  /* Screen */

  #screen {
    width: 365px;
    height: 75px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .previous {
    font-size: 20px;
  }

  .current {
    font-size: 30px;
  }